[db]
db0_0 = 10.255.202.113,3312,echnmarketdb1,echnmarket,EnMket2~
db0_1 = 10.255.202.113,3312,echnmarketdb2,echnmarket,EnMket2~
db0_2 = 10.255.202.113,3312,echnmarketdb3,echnmarket,EnMket2~
db0_3 = 10.255.202.113,3312,echnmarketdb4,echnmarket,EnMket2~
db0_4 = 10.255.202.113,3312,echnmarketdb5,echnmarket,EnMket2~
db0_5 = 10.255.202.113,3313,echnmarketdb1,echnmarket,EnMket2~
db0_6 = 10.255.202.113,3313,echnmarketdb2,echnmarket,EnMket2~
db0_7 = 10.255.202.113,3313,echnmarketdb3,echnmarket,EnMket2~
db0_8 = 10.255.202.113,3313,echnmarketdb4,echnmarket,EnMket2~
db0_9 = 10.255.202.113,3313,echnmarketdb5,echnmarket,EnMket2~
db0_u = 10.255.202.113,3313,echnmarketdb,echnmarket,EnMket2~

[recharge_sftp]
host = 10.255.201.200
port = 22
usrname = echnweb
password = g3+{C'0SW,7kd>tA6*}[X"~]a
localpath = /echnlog/shell/data/download/
downloadpath = /echnweb/tongji_data/dz2_0/res_data/
uploadpath = 222

[flow_sftp]
host = 10.14.16.96
port = 22
usrname = kaiquansftp
password = Kxaiquansftpaiquansftp()*&_123
localpath = /echnlog/shell/data/download/
downloadpath = /kaiquans/
uploadpath = 222

[commodity_sftp]
host = 10.255.254.28
port = 22
usrname = aspire_kq
password = $VvGXnmN1
localpath = /echnlog/shell/data/download/
downloadpath = /upload/
uploadpath = 222

[package_sftp]
host = 10.255.254.28
port = 22
usrname = aspire_kq
password = $VvGXnmN1
localpath = /echnlog/shell/data/download/
downloadpath = /upload/
uploadpath = 222

[mysql]
execpath = /mysql/bin/mysql

[path]
exportDataPath = /echnlog/shell/data/export/
tmpcmpPath = /echnlog/shell/data/tmpcmp/
resultPath =

[log]
filepath = /echnlog/test/hanyf/shell/log
